@mixin button-shared {
    &.small{
        min-height: 40px;
    }
    &.regular{
        min-height: 56px;
    }
    &:disabled{
        background-color: $disabled-gray !important;
        border: none;
    }
    
    width: 100%;
    line-height: 1.2em;
    white-space: initial;
    padding-right: 16px;
    padding-left: 16px;
}