.body {
    padding: 2% 5%;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    hr {
        margin: 1rem 0;
    }

    app-faq-list, app-contact {
        width: 50%;
    }
}

@media (max-width: 1080px) {
    .body {
        display: flex !important;
        flex-direction: column;
        
        hr {
            display: none;
        }

        app-faq-list, app-contact {
            width: 100%;
        }
    }
}